body{
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * Main Header
 */
.main-header{
  width: 100%;
  background-color: #2ddf5c;
  padding: 8px 16px;
}

.main-header > div{
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand{
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
}

.main-nav{
  display: inline-block;
  text-align: right;
  width: calc(100% - 50px);
  vertical-align: middle;
}

.main-nav__items{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item{
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  font-weight: bold;
  color: #0e4f1f;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active{
  color: #fff;
  border-bottom: 5px solid #fff;
}

.main-nav__item a:hover{
  cursor: pointer;
}

.main-nav__item--cta{
  
}

.main-nav__item--cta a{
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
  border-bottom: none;
}

/**
 * =======================================================
 */

 